/* global */
body {
    font-family: arial;
}

p {
    line-height: 2;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

h3, h4 {
    padding: 5px;
}

footer {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 300px;
    padding-right: 300px;
    height: 100px;
}

/* utilities */
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.btn-read {
    display: inline-block;
    background-color: black;
    color: white;
    margin-bottom: 30px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 3;
}

.info-btn {
    background-color: sienna;
    color: white;
}

.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

/* header */
header {
    height: 300px;
}
header.site-init {
    background-image: url(./img/banner.jpg);
    background-position: center center;
    background-size: cover;
    color: white;
    text-align: center;
}
header.secondary {
    background-color: black;
    color: white;
    height: 100px;
}

.menu-bar{
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

a {
    color: white;
    margin-right: 20px;
}

/* main */
.main-container {
    display: flex;
    justify-content: center;
}

.our-blog-container {
    width: 65%;
}

.our-courses-container {
    width: 35%;
    margin-left: 20px;
    margin-right: 20px;
}



/* courses */
.courses-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;   

}

.course-items {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.course {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-radius: 10%;
    padding: 5px;
}
/* utilities */
.main-title {
    margin-top: 15px;
    text-align: center;
    color: white;
}

/* about */
.about-title,
.courses-title,
.contact-title {
    text-align: center;
}

.about-image,
.courses-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.about-text,
.courses-text {
    text-align: center;
}

/* contact */
.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-form {
    background-color: white;
    margin-top: -50px;
    padding: 30px;
}

.input-container {
    margin-bottom: 20px;
}

.input-container label{
    display: inline-block;
    width: 100px;
    text-align: left;
}

.input-container input,
.input-container textarea {
    width: 70%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid black;
}

.contact-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}